h1 create
form.well.container#createForm(ng-submit=create())
label first name:
  input(ng-model="vm.firstName")
br
label last name:
  input.(ng-model="vm.player.lastName")
br
label age:
  input.(ng-model="vm.player.age")
br
label sport:
  input.(ng-model="vm.player.sport")
br
label height:
  input.(ng-model="vm.player.height")
br
label weight:
  input.(ng-model="vm.player.weight")
br
label number:
  input.(ng-model="vm.player.number")
br
label image:
  input.(ng-model="vm.player.image")
br
label Team Name:
  input.(ng-model="vm.player.teamName")
br
label College:
  input.(ng-model="vm.player.college")
br
label Nationality:
  input.(ng-model="vm.player.nationality")
br
button.btn.btn-success Submit
